[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]
scipy = '*'
numpy = '*'
pandas = '*'
matplotlib = '*'
sklearn = '*'
seaborn = '*'
jupyterlab = '*'
scikit-image = '*'
opencv-python-headless = '*'
statsmodels = '*'
#torch-linux = {file = "https://download.pytorch.org/whl/cu101/torch-1.5.1%252Bcu101-cp36-cp36m-linux_x86_64.whl", sys_platform="== 'linux'"}
#torchvision-linux = {file = "https://download.pytorch.org/whl/cu101/torchvision-0.6.1%252Bcu101-cp36-cp36m-linux_x86_64.whl", sys_platform="== 'linux'"}
#torch-win32 = {file = "https://download.pytorch.org/whl/cu101/torch-1.5.1%25252Bcu101-cp36-cp36m-win_amd64.whl", sys_platform="== 'win32'"}
#torchvision-win32 = {file = "https://download.pytorch.org/whl/cu101/torchvision-0.6.1%25252Bcu101-cp36-cp36m-win_amd64.whl", sys_platform="== 'win32'"}
pillow = '*'
scholarly = '*'
ipdb = '*'
neptune-client = "*"
psutil = "*"
neptune-contrib = "*"
python-telegram-bot = "*"
tqdm = "*"
#thop = '*'
